/* ============= Base ============= */
$theme-text-color-secondary : #333333;
$theme-text-color-secondary-light : #666666;
$theme-text-color-secondary-dark : #000000;
$theme-text-color-secondary-contrast : #ffffff;
/*********** Theme Generic **********/
